h1 {
  text-align: center;
  margin: 50px;
  font-family: Comic Sans MS;
}
.container{
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
}

.search-input {
  width: 60%;
  font-size: 20px;
  padding-left: 5px;
}

.sentence-results{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.sentence-results:hover{
  background-color: rgba(63, 81, 181, 0.3);
}

.sentence-results > .title{
  font-size: 25;
  font-weight: 100;
}

.waiting, .not-found{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  align-content: center;  
}
.card-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-content: flex-start;
}
.card {
  width: 28%;
  flex-shrink: 0;
  flex-grow: 0; 
  min-height: 50%;
  max-height: 50%;
}
.card > .mat-card-header {
  font-size: 14px;
}
.card > .mat-card-image {
  max-height: 200px;
}
.mat-card-image:hover {
  cursor: pointer;
}
.card > .mat-card-content {
  overflow: hidden;
  max-height: 150px;
  padding: 12px;
}
.find_term{
  font-color: rgb(255, 51, 40);

}

.empty {
  height: 35%;
}

@media only screen and (max-width: 800px) {
  .container{
    width: 100%;
    text-align: center;
  }
  input[type] {
    border-radius: 30px;
    height: 30px;
    width: 100%;
    font-size: 20px;
    padding-left: 15px;
  }
}